.highlight-box{
    border: white 1px solid;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    /* transform: scale(2); */
    width: 60px; 
    height: 60px;
}


.numbered-boxes{
    background: white; 
    width: 60px; 
    height: 60px;
    border: white 1px solid;
    /* transform: scale(1); */
}

.smaller-text{
    font-size: 28px;
    font-weight: 300;
}

.large-text{
    /* margin-top: -30px; */
    /* font-size: 250px !important; */
}

.controls-arrow,
 .controls-arrow {
  /* font-size: 15px; */
  height: 15px;
  /* color: red; */
  color: white;
}

.reveal .progress {
    /* background: rgba(0, 0, 0, 0.2); */
    color: rgb(255, 255, 255);
    /* height: 1%; */
  }

  .shadowed {
    box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.58);
-webkit-box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.58);
-moz-box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.58);

/* 
box-shadow: 1px 0px 13px 5px rgba(0,0,0,0.58) inset;
-webkit-box-shadow: 1px 0px 13px 5px rgba(0,0,0,0.58) inset;
-moz-box-shadow: 1px 0px 13px 5px rgba(0,0,0,0.58) inset; */
  }