.highlight-box{
    border: white 1px solid;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    /* transform: scale(2); */
    width: 60px; 
    height: 60px;
}


.numbered-boxes{
    background: white; 
    width: 60px; 
    height: 60px;
    border: white 1px solid;
    /* transform: scale(1); */
}

.smaller-text{
    font-size: 28px;
    font-weight: 300;
}